--- 
layout: default
title: Christopher Mollard | Blog 
---
<div id="blog" class="inner-content">

    <section id="page-title" class="inner-section ui-menu-color06">
        <div class="container-fluid nopadding">
            <h2 class="font-accident-two-bold color01" data-animation-origin="right" data-animation-duration="400" data-animation-delay="100" data-animation-distance="50px">Blog</h2>
            <h4 class="font-accident-two-light color01 uppercase subtitle" data-animation-origin="right" data-animation-duration="400" data-animation-delay="200" data-animation-distance="50px"></h4>
            <p class="small color01" data-animation-origin="right" data-animation-duration="400" data-animation-delay="300" data-animation-distance="50px">
                This is a collection of thoughts on life and design, things I notice and sometimes just nothings. It is sort of my brain on a page. My favourite rants are UX fails!
            </p>
        </div>
    </section>

    <!-- Blog Block -->
    <section class="inner-section " data-section="blog">

        <div class="dividewhite2"></div>

        <div id="isotope-filters" class="port-filter port-filter-light text-center" data-animation-origin="top" data-animation-duration="400" data-animation-delay="300" data-animation-distance="10px">
            <ul>
                <li><a href="#all" data-filter="*">All Categories</a></li>
                <li><a href="#ux" data-filter=".UX">UX</a></li>
                <li><a href="#ux-fail" data-filter=".UX-FAIL">UX-Fail</a></li>
                <li><a href="#design" data-filter=".DESIGN">Design</a></li>
                <li><a href="#branding" data-filter=".BRANDING">Branding</a></li>
                <li><a href="#prototyping" data-filter=".PROTOTYPING">Prototyping</a></li>
            </ul>
        </div>

        <div class="dividewhite6"></div>

        <div class="row masonry-row">

            <div class="grid container-fluid text-center">

                <div id="posts" class="row popup-container">



                    {% for post in site.posts %}
                    <div class="grid-item grid-sizer {% for tag in post.tags %} {{ tag }} {% endfor %} col-md-4 col-sm-6">
                        <div class="item-wrap">
                            <figure data-animation-origin="right" data-animation-duration="500" data-animation-delay="500" data-animation-distance="0px">
                                <img src="{{ post.imageurl }}" class="img-responsive" alt="{{ post.imagealt }}" />
                                <figcaption>
                                    <div class="post-meta"><span>{{ post.date | date_to_string }}</span></div>
                                    <div class="post-header">
                                        <h5><a href="{{ post.url }}">{{ post.blogtitle }}</a></h5>
                                    </div>
                                    <div class="post-entry">
                                        <p>{{ post.smalldesc }}</p>
                                    </div>
                                    <div class="post-tag pull-left">
                                        {% for tag in post.tags %}<span><a href="#{{tag}}" data-filter=".{{tag}}">{{ tag }}</a></span> {% endfor %}
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>

        </div>

        <div class="dividewhite8"></div>

    </section>
    <!-- /Blog Block -->

</div>
