---
layout: default
title: Christopher Mollard | Blog
---
<div id="blog" class="inner-content">

            <section id="page-title" class="inner-section ui-menu-color06">
                <div class="container-fluid nopadding">
                    <h2 class="font-accident-two-bold color01" data-animation-origin="right" data-animation-duration="400" data-animation-delay="100" data-animation-distance="50px">Blog</h2>
                    <h4 class="font-accident-two-light color01 uppercase subtitle" data-animation-origin="right" data-animation-duration="400" data-animation-delay="200" data-animation-distance="50px"></h4>
                    <p class="small color01" data-animation-origin="right" data-animation-duration="400" data-animation-delay="300" data-animation-distance="50px">
                        This is a collection of thoughts on life and design, things I notice and sometimes just nothings. It is sort of my brain on a page. My favourite rants are UX fails!s
                    </p>
                </div>
            </section>

            <!-- Blog Block -->
            <section class="inner-section " data-section="blog">

                <div class="dividewhite6"></div>

                <div id="isotope-filters" class="port-filter port-filter-light text-center" data-animation-origin="top" data-animation-duration="400" data-animation-delay="300" data-animation-distance="10px">
                    <ul>
                        <li><a href="#all" data-filter="*">All Categories</a></li>
                        <li><a href="#UX" data-filter=".UX">UX</a></li>
                        <li><a href="#UXFail" data-filter=".UXFail">UX Fail</a></li>
                        <li><a href="#design" data-filter=".design">Design</a></li>
                        <li><a href="#branding" data-filter=".branding">Branding</a></li>
                        <li><a href="#prototyping" data-filter=".ppp">Prototyping</a></li>
                    </ul>
                </div>  

                <div class="dividewhite6"></div>

                <div class="row masonry-row">

                    <div class="grid container-fluid text-center">

                        <div id="posts" class="row popup-container">
                            
                            {% for post in site.posts %}
                            <div class="grid-item {% for tag in post.tags %} {{ tag }} {% endfor %} col-md-4 col-sm-6">
                                <div class="item-wrap">
                                    <figure data-animation-origin="right"  data-animation-duration="500" data-animation-delay="500" data-animation-distance="0px">
                                        <img src="{{ post.imageurl }}" class="img-responsive" alt="{{ post.imagealt }}" />
                                        <figcaption>
                                            <div class="post-meta"><span>{{ post.date | date_to_string }}</span></div>
                                            <div class="post-header">
                                                <h5><a href="{{ post.url }}">{{ post.blogtitle }}</a></h5>
                                            </div>
                                            <div class="post-entry">
                                                <p>{{ post.smalldesc }}</p>
                                            </div>
                                            <div class="post-tag pull-left">
                                                {% for tag in post.tags %}<span><a href="#{{tag}}" data-filter=".{{tag}}">{{ tag }}</a></span>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            {% endfor %}
                            
                            
                            
                            <div class="grid-item UX UXFail col-md-4 col-sm-6">
                                <div class="item-wrap">
                                    <figure data-animation-origin="right" data-animation-duration="500" data-animation-delay="500" data-animation-distance="0px">
                                        <img src="assets_CM/images/uxfail6.jpeg" class="img-responsive" alt="An image of white walls, some of which are white boards and others which are not" />
                                        <figcaption>
                                            <div class="post-meta"><span>April 26th, 2017</span></div>
                                            <div class="post-header">
                                                <h5><a href="blogpost-uxfail6.html">UX Fail #6</a></h5>
                                            </div>
                                            <div class="post-entry">
                                                <p>Some of these walls are whiteboards, can you tell which?</p>
                                            </div>
                                            <div class="post-tag pull-left">
                                                <span><a href="#UX" data-filter=".UX">UX</a></span>, <span><a href="#UXFail" data-filter=".UXFail">UX Fail</a></span>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="grid-item UX UXFail col-md-4 col-sm-6">
                                <div class="item-wrap">
                                    <figure data-animation-origin="right" data-animation-duration="500" data-animation-delay="500" data-animation-distance="0px">
                                        <img src="assets_CM/images/uxfail5.JPG" class="img-responsive" alt="Image of the payment options available on a Sainsbury's self service till" />
                                        <figcaption>
                                            <div class="post-meta"><span>March 15th, 2017</span></div>
                                            <div class="post-header">
                                                <h5><a href="blogpost-uxfail5.html">UX Fail #5</a></h5>
                                            </div>
                                            <div class="post-entry">
                                                <p>Why should a self-service till ask me for my payment method?</p>
                                            </div>
                                            <div class="post-tag pull-left">
                                                <span><a href="#UX" data-filter=".UX">UX</a></span>, <span><a href="#UXFail" data-filter=".UXFail">UX Fail</a></span>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="grid-item grid-sizer UX design col-md-4 col-sm-6">
                                <div class="item-wrap">
                                    <figure data-animation-origin="right" data-animation-duration="500" data-animation-delay="500" data-animation-distance="0px">
                                        <img src="assets_CM/images/uservstakeholder.jpg" class="img-responsive" alt="Two swiss army knives that epitomise user and stakeholder needs, one is simple while the other one has many many many tools" />
                                        <figcaption>
                                            <div class="post-meta"><span>March 15th, 2017</span></div>
                                            <div class="post-header">
                                                <h5><a href="#">User v stakeholder requirements</a></h5>
                                            </div>
                                            <div class="post-entry">
                                                <p>This looks about right!  Sometimes finding the balance can be quite difficult.</p>
                                            </div>
                                            <div class="post-tag pull-left">
                                                <span><a href="#UX" data-filter=".UX">UX</a>,</span><span><a href="#design" data-filter=".design">Design</a></span>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            
                            <div class="grid-item grid-sizer ppp col-md-4 col-sm-6">
                                <div class="item-wrap">
                                    <figure data-animation-origin="right" data-animation-duration="500" data-animation-delay="500" data-animation-distance="0px">
                                        <img src="assets_CM/images/aquaticocustomfont.jpg" class="img-responsive" alt="Aquatico font on a black background with blue flames below" />
                                        <figcaption>
                                            <div class="post-meta"><span>February 7th, 2017</span></div>
                                            <div class="post-header">
                                                <h5><a href="blogpost-axurefonts.html">Custom fonts in Axure prototypes</a></h5>
                                            </div>
                                            <div class="post-entry">
                                                <p>Custom fonts in Axure have always been a little tricky but I have found a solution!</p>
                                            </div>
                                            <div class="post-tag pull-left">
                                                <span><a href="#prototyping" data-filter=".ppp">Prototyping</a></span>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            
                            
                            
                            
                            
                            <div class="grid-item grid-sizer UX col-md-4 col-sm-6">
                                <div class="item-wrap">
                                    <figure data-animation-origin="right" data-animation-duration="500" data-animation-delay="500" data-animation-distance="0px">
                                        <img src="assets_CM/images/tugofwar.jpg" class="img-responsive" alt="Men and women playing tug of war, one side of the rope" />
                                        <figcaption>
                                            <div class="post-meta"><span>January 5th, 2017</span></div>
                                            <div class="post-header">
                                                <h5><a href="blogpost-uxtugofwar.html">Winning the UX tug of war</a></h5>
                                            </div>
                                            <div class="post-entry">
                                                <p>Sometimes being a User Experience practitioner means picking and choosing your battles.</p>
                                            </div>
                                            <div class="post-tag pull-left">
                                                <span><a href="#prototyping" data-filter=".ppp">UX</a></span>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="grid-item UX UXFail col-md-4 col-sm-6">
                                <div class="item-wrap">
                                    <figure data-animation-origin="right" data-animation-duration="500" data-animation-delay="500" data-animation-distance="0px">
                                        <img src="assets_CM/images/twostep.jpg" class="img-responsive" alt="A screenshot of the Vodafone two step verification screen" />
                                        <figcaption>
                                            <div class="post-meta"><span>December 11th, 2016</span></div>
                                            <div class="post-header">
                                                <h5><a href="blogpost-uxfail4.html">UX Fail #4</a></h5>
                                            </div>
                                            <div class="post-entry">
                                                <p>Two step verification is great, except for when you can't receive the text.</p>
                                            </div>
                                            <div class="post-tag pull-left">
                                                <span><a href="#UX" data-filter=".UX">UX</a></span>, <span><a href="#UXFail" data-filter=".UXFail">UX Fail</a></span>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            
                            <div class="grid-item design UX col-md-4 col-sm-6">
                                <div class="item-wrap">
                                    <figure data-animation-origin="right" data-animation-duration="500" data-animation-delay="500" data-animation-distance="0px">
                                        <img src="assets_CM/images/darkpatterns.jpg" class="img-responsive" alt="Image of the payment options available on a Sainsbury's self service till" />
                                        <figcaption>
                                            <div class="post-meta"><span>November 10th, 2016</span></div>
                                            <div class="post-header">
                                                <h5><a href="blogpost-darkpatterns.html">The use of dark patterns in UI</a></h5>
                                            </div>
                                            <div class="post-entry">
                                                <p>I came across this great talk on dark patterns - where these user interfaces are used and why.</p>
                                            </div>
                                            <div class="post-tag pull-left">
                                                 <span><a href="#UX" data-filter=".UX">UX</a></span>,<span><a href="#design" data-filter=".design">Design</a></span>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="grid-item grid-sizer branding design col-md-4 col-sm-6">
                                <div class="item-wrap">
                                    <figure data-animation-origin="right" data-animation-duration="500" data-animation-delay="300" data-animation-distance="0px">

                                        <img src="assets_CM/images/J4GDesignBlog.jpg" class="img-responsive" alt="J4G Design logo: block lettering in a square on top of a blue background" />
                                        <figcaption>
                                            <div class="post-meta"><span>October 21st, 2016</span></div>
                                            <div class="post-header">
                                                <h5><a href="blogpost-welcometotheworldj4gdesign.html">J4G Comes to life</a></h5>
                                            </div>
                                            <div class="post-entry">
                                                <p>I've gone solo as a contractor!  Welcome to the world J4G Design.</p>
                                            </div>
                                            <div class="post-tag pull-left">
                                                <span><a href="#branding" data-filter=".branding">Branding</a>,</span><span><a href="#design" data-filter=".design">Design</a></span>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="grid-item grid-sizer branding col-md-4 col-sm-6">
                                <div class="item-wrap">
                                    <figure data-animation-origin="right" data-animation-duration="500" data-animation-delay="300" data-animation-distance="0px">

                                        <img src="assets_CM/images/Natwest%20evolution.jpg" class="img-responsive" alt="old and new Natwest logos side by side" />
                                        <figcaption>
                                            <div class="post-meta"><span>October 21st, 2016</span></div>
                                            <div class="post-header">
                                                <h5><a href="blogpost-logosstandingthetestoftime.html">Logos standing the test of time</a></h5>
                                            </div>
                                            <div class="post-entry">
                                                <p>The mark of a great logo is it's identity so I find it fitting that new logos are referring to their past.</p>
                                            </div>
                                            <div class="post-tag pull-left">
                                                <span><a href="#branding" data-filter=".branding">Branding</a>,</span>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="grid-item UX UXFail col-md-4 col-sm-6">
                                <div class="item-wrap">
                                    <figure data-animation-origin="right" data-animation-duration="500" data-animation-delay="500" data-animation-distance="0px">
                                        <img src="assets_CM/images/uxfail3.jpg" class="img-responsive" alt="A screenshot of a dropdown list when selecting nationality" />
                                        <figcaption>
                                            <div class="post-meta"><span>September 23rd, 2016</span></div>
                                            <div class="post-header">
                                                <h5><a href="blogpost-uxfail3.html">UX Fail #3</a></h5>
                                            </div>
                                            <div class="post-entry">
                                                <p>Why are there so many options being provided for being British?</p>
                                            </div>
                                            <div class="post-tag pull-left">
                                                <span><a href="#UX" data-filter=".UX">UX</a></span>, <span><a href="#UXFail" data-filter=".UXFail">UX Fail</a></span>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="grid-item UX UXFail col-md-4 col-sm-6">
                                <div class="item-wrap">
                                    <figure data-animation-origin="right" data-animation-duration="500" data-animation-delay="500" data-animation-distance="0px">
                                        <img src="assets_CM/images/cardreader.jpg" class="img-responsive" alt="A screenshot of the Vodafone two step verification screen" />
                                        <figcaption>
                                            <div class="post-meta"><span>September 2nd, 2016</span></div>
                                            <div class="post-header">
                                                <h5><a href="blogpost-uxfail2.html">UX Fail #2</a></h5>
                                            </div>
                                            <div class="post-entry">
                                                <p>Contactless payments are capped at £30, so why not hide the icon?</p>
                                            </div>
                                            <div class="post-tag pull-left">
                                                <span><a href="#UX" data-filter=".UX">UX</a></span>, <span><a href="#UXFail" data-filter=".UXFail">UX Fail</a></span>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="grid-item UX UXFail col-md-4 col-sm-6">
                                <div class="item-wrap">
                                    <figure data-animation-origin="right" data-animation-duration="500" data-animation-delay="500" data-animation-distance="0px">
                                        <img src="assets_CM/images/textnospace.jpg" class="img-responsive" alt="A screenshot of a text message being written with no space to read what was previously sent" />
                                        <figcaption>
                                            <div class="post-meta"><span>August 26th, 2016</span></div>
                                            <div class="post-header">
                                                <h5><a href="blogpost-uxfail1.html">UX Fail #1</a></h5>
                                            </div>
                                            <div class="post-entry">
                                                <p>Writing a long message and no space to read what the previous one was.</p>
                                            </div>
                                            <div class="post-tag pull-left">
                                                <span><a href="#UX" data-filter=".UX">UX</a></span>, <span><a href="#UXFail" data-filter=".UXFail">UX Fail</a></span>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="grid-item design col-md-4 col-sm-6">
                                <div class="item-wrap">
                                    <figure data-animation-origin="right" data-animation-duration="500" data-animation-delay="500" data-animation-distance="0px">
                                        <img src="assets_CM/images/principles.jpg" class="img-responsive" alt="A screenshot of a text message being written with no space to read what was previously sent" />
                                        <figcaption>
                                            <div class="post-meta"><span>August 23rd, 2016</span></div>
                                            <div class="post-header">
                                                <h5><a href="blogpost-mollardsprinciplesofdesignandlife.html">Mollard's principles of design</a></h5>
                                            </div>
                                            <div class="post-entry">
                                                <p>In an ever increasing corporate world I think it becomes even more important to remember who we are and that we are not robots./p>
                                            </div>
                                            <div class="post-tag pull-left">
                                                <span><a href="#Design" data-filter=".Design">Design</a></span>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            
                            
                            
                            <div class="grid-item grid-sizer UX col-md-4 col-sm-6">
                                <div class="item-wrap">
                                    <figure data-animation-origin="right" data-animation-duration="500" data-animation-delay="500" data-animation-distance="0px">
                                        <img src="assets_CM/images/Ford.png" class="img-responsive" alt="The Ford motors logo" />
                                        <figcaption>
                                            <div class="post-meta"><span>April 4th, 2016</span></div>
                                            <div class="post-header">
                                                <h5><a href="blogpost-ford.html">Ford's quest to UX mastery</a></h5>
                                            </div>
                                            <div class="post-entry">
                                                <p>User Experience is starting to be taken seriously by players outside of software development.</p>
                                            </div>
                                            <div class="post-tag pull-left">
                                                <span><a href="#UX" data-filter=".UX">UX</a></span>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="grid-item grid-sizer UX col-md-4 col-sm-6">
                                <div class="item-wrap">
                                    <figure data-animation-origin="right" data-animation-duration="500" data-animation-delay="500" data-animation-distance="0px">
                                        <img src="assets_CM/images/gettingintoUX.jpg" class="img-responsive" alt="A work desk in front of a white wall" />
                                        <figcaption>
                                            <div class="post-meta"><span>November 5th, 2015</span></div>
                                            <div class="post-header">
                                                <h5><a href="blogpost-HowToBecomeAUXDesigner.html">How to become a UX designer</a></h5>
                                            </div>
                                            <div class="post-entry">
                                                <p>An interesting read - lots of good starting points for someone looking to get into UX design.</p>
                                            </div>
                                            <div class="post-tag pull-left">
                                                <span><a href="#UX" data-filter=".UX">UX</a></span>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="grid-item grid-sizer branding design col-md-4 col-sm-6">
                                <div class="item-wrap">
                                    <figure data-animation-origin="right" data-animation-duration="500" data-animation-delay="300" data-animation-distance="0px">

                                        <img src="assets_CM/images/GoogleLogoChange.jpeg.png" class="img-responsive" alt="The old Google logo above the new, flat version" />
                                        <figcaption>
                                            <div class="post-meta"><span>September 5th, 2015</span></div>
                                            <div class="post-header">
                                                <h5><a href="blogpost-Google.html">Google, 1998-2015</a></h5>
                                            </div>
                                            <div class="post-entry">
                                                <p>Google unveiled its new logo this week, to the surprise of many.</p>
                                            </div>
                                            <div class="post-tag pull-left">
                                                <span><a href="#branding" data-filter=".branding">Branding</a>,</span><span><a href="#design" data-filter=".design">Design</a></span>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="dividewhite8"></div>

            </section>
            <!-- /Blog Block -->

        </div>
