---
layout: default
title: Christopher Mollard | Home
---
<section class="container-fluid" data-section="home">

    <!-- Personal Flexy Section -->
    <div class="row flex-row">
        <!-- Personal Details 01 -->
        <div id="details" class="col-md-8 flex-column bg-color01 light nopadding" data-animation-origin="left" data-animation-duration="300" data-animation-delay="400" data-animation-distance="200px">
            <div class="padding-50 flex-panel">
                <div class="row row-no-padding">
                    <div class="col-md-12 nopadding">
                        <h3 class="font-accident-two-normal uppercase title">My name is Christopher Mollard</h3>
                        <div class="quote">
                            <h4 class="font-accident-two-normal uppercase subtitle">I am a User Experience designer specialising in Agile delivery</h4>
                            <div class="dividewhite3"></div>
                        </div>
                    </div>
                </div>
                <div class="divider-dynamic"></div>
                <div class="row nopadding">
                    <div class="col-xs-12 nopadding">
                        <p>
                            I look for opportunities to create exciting and innovative user experiences and designs, picking up on things that annoy me to see if I can find a better way.

                            </br>
                            </br>

                            Following a User-Centred Design approach I plan and run workshops with clients, stakeholders and users to determine the functional requirements of a product or concept to best understand both the business and user needs. I provide conceptual designs to vision my understanding, and provide design iterations. I also enjoy working as a front end developer.

                            </br>
                            </br>

                            Much of my experience has been working within Agile and using the Scrum methodology, specifically being a lead UX designer or front end developer on projects. I am also a Certified ScrumMaster and enjoy the role, finding it’s purpose and results in the team quite satisfying.

                            </br>
                            </br>

                            Most importantly I want to help people in their day to day - I want to make a difference in the world.</p>
                    </div>

                </div>
            </div>
        </div>
        <!-- /Personal Details 01 -->

        <!-- Personal Details 02 -->
        <div id="personal" class="col-md-4 flex-column light ui-block-color01 personal" data-animation-origin="right" data-animation-duration="500" data-animation-delay="600" data-animation-distance="100px">
            <div class="padding-50 flex-panel">
                <h3 class="font-accident-two-normal uppercase title">Personal Info</h3>
                <div class="dividewhite4"></div>
                <div>
                    <div class="fullwidth box">
                        <div class="one">
                            <p class="uppercase">Name:</p>
                        </div>
                        <div class="two">
                            <p class="">Christopher Mollard</p>
                        </div>
                    </div>

                    <div class="fullwidth box">
                        <div class="one">
                            <p class="uppercase">Phone:</p>
                        </div>
                        <div class="two">
                            <p class=""><a href="tel:00447833247577">0044 78332 47577</a></p>
                        </div>
                    </div>
                    <div class="fullwidth box">
                        <div class="one">
                            <p class="uppercase">Email:</p>
                        </div>
                        <div class="two"><a href="mailto:christopher@j4gdesign.co.uk" class="">christopher@j4gdesign.co.uk</a></div>
                    </div>
                    <div class="fullwidth box">
                        <div class="one">
                            <p class="uppercase">Languages:</p>
                        </div>
                        <div class="two">
                            <p class="">English</a>
                        </div>
                    </div>
                    <div class="fullwidth box">
                        <div class="one">
                            <p class="uppercase"></p>
                        </div>
                        <div class="two">
                            <p class="">French</a>
                        </div>
                    </div>
                </div>
                <div class="dividewhite1"></div>
            </div>
        </div>
        <!-- /Personal Details 02 -->
    </div>
    <!-- /Personal Flexy Section -->

</section>

<!-- Blog carousel start -->
<section id="owl-carousel" data-section="owl-carousel"
               data-animation-origin="bottom"
               data-animation-duration="500"
               data-animation-delay="400"
               data-animation-distance="100px">
         <div class="owl-carousel owl-theme">
             {% for post in site.posts limit:5 %}
               <div class="item">
                  <div class="feat-post text-center">
                     <div class="feat-wrapper">
                        <div class="feat-metas">
                           <p href="#!" class="meta-date">{{ post.date | date_to_string }}</p>in <a href="blog.html" class="meta-cat">blog</a>
                           <h3 class="font-accident-two-normal text-nowrap color-red">{{ post.blogtitle }}</h3>
                           <hr>
                           <p>{% for tag in post.tags %} {{ tag }}, {% endfor %}</p>
                           <div class="morelink"><a href="{{ post.url }}" class="btn btn-wh-trans btn">Read blog post</a></div>
                        </div>
                     </div>
                  </div>
                  <img src="{{ post.carouselimgurl }}" class="img-responsive" alt="01 - {{ post.carouselimgalt }}">
               </div>
             {% endfor %}
            </div>
         <div class="e-divider-6"></div>
      </section>

<!-- Blog carousel ends -->

<section id="professional" class="container-fluid" data-section="home">

    <div class="row flex-row">

        <div id="pro-experience" class="col-md-4 flex-column dark nopadding ui-block-color02 flex-col" data-animation-origin="bottom" data-animation-duration="300" data-animation-delay="800" data-animation-distance="200px">
            <div class="padding-50 flex-panel">
                <h3 class="font-accident-two-normal uppercase title"><a href="resume.html">Employment</a></h3>
                <div class="dividewhite4"></div>
                <div class="experience">
                    <ul class="">
                        <li class="date">09/2016 - present</li>
                        <li class="company uppercase">
                            <a>
                           J4G Design
                        </a>
                        </li>
                        <li class="position">Company director and UX Design contractor</li>
                    </ul>
                    <ul class="">
                        <li class="date">09/2013 - 09/2016</li>
                        <li class="company uppercase">
                            <a>
                           PA Consulting
                        </a>
                        </li>
                        <li class="position">Senior UX Designer and Consultant</li>
                    </ul>
                    <ul class="">
                        <li class="date">06/2013 - 08/2013</li>
                        <li class="company uppercase">
                            <a>
                           Adgistics
                        </a>
                        </li>
                        <li class="position">UX Designer</li>
                    </ul>
                    <ul class="">
                        <li class="date">08/2011 - 07/2012</li>
                        <li class="company uppercase">
                            <a>
                           Betfair
                        </a>
                        </li>
                        <li class="position">UX Intern</li>
                    </ul>
                </div>
                <a href="cv.html" class="btn btn-wh-trans btn">Learn more</a>
                <div class="dividewhite1"></div>
            </div>
        </div>
        <div id="circle-skills" class="col-md-8 flex-column dark nopadding ui-block-color03 flex-col" data-section="progress" data-animation-origin="right" data-animation-duration="400" data-animation-delay="1100" data-animation-distance="200px">
            <div class="padding-50 flex-panel">
                <h3 class="font-accident-two-normal uppercase title"><a href="resume.html">Professional skills</a></h3>
                <div class="dividewhite1"></div>
                <div class="row">

                    <div class="col-md-4 col-sm-4 col-xs-12 nopadding">
                        <div class="progressbar text-center">
                            <div id="circle1" data-progressbar="circle" data-progressbar-color="#fff" data-progressbar-trailcolor="#fff" data-progressbar-to='{"color": "#51f2ec", "width": 4}' data-progressbar-from='{"color": "#3498db", "width": 4}' data-progressbar-value="0.6">
                            </div>
                            <h4 class="font-accident-two-bold uppercase">Interaction design</h4>
                            <p class="font-regular-normal">
                                I watch how users behave to understand their needs - their requirements are the foundations for page designs, layout and functionality.
                            </p>
                        </div>
                        <div class="dividewhite1"></div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12 nopadding">
                        <div class="progressbar text-center">
                            <div id="circle2" data-progressbar="circle" data-progressbar-color="#fff" data-progressbar-trailcolor="#fff" data-progressbar-to='{"color": "#ffd200", "width": 4}' data-progressbar-from='{"color": "#3498db", "width": 4}' data-progressbar-value="0.2">
                            </div>
                            <h4 class="font-accident-two-bold uppercase">Wireframing and prototyping</h4>
                            <p class="font-regular-normal">
                                I use prototypes of varying fidelity to communicate ideas and designs to stakeholders, users and development teams.
                            </p>
                        </div>
                        <div class="dividewhite1"></div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12 nopadding">
                        <div class="progressbar text-center">
                            <div id="circle3" data-progressbar="circle" data-progressbar-color="#fff" data-progressbar-trailcolor="#fff" data-progressbar-to='{"color": "#F09C88", "width": 4}' data-progressbar-from='{"color": "#3498db", "width": 4}' data-progressbar-value="0.93">
                            </div>
                            <h4 class="font-accident-two-bold uppercase">Usability testing</h4>
                            <p class="font-regular-normal">
                                I keep users at the heart of what I do by continually testing designs and builds with them to better influence the outcome of the project.
                            </p>
                        </div>
                        <div class="dividewhite1"></div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12 nopadding">
                        <div class="progressbar text-center">
                            <div id="circle3" data-progressbar="circle" data-progressbar-color="#fff" data-progressbar-trailcolor="#fff" data-progressbar-to='{"color": "#F09C88", "width": 4}' data-progressbar-from='{"color": "#3498db", "width": 4}' data-progressbar-value="0.93">
                            </div>
                            <h4 class="font-accident-two-bold uppercase">Front end development</h4>
                            <p class="font-regular-normal">
                                I prototype in HTML, CSS and JS to bridge the gap between design and development. This has been especially useful in reducing the load on delivery teams as well creating valubale mock ups for the business.
                            </p>
                        </div>
                        <div class="dividewhite1"></div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12 nopadding">
                        <div class="progressbar text-center">
                            <div id="circle3" data-progressbar="circle" data-progressbar-color="#fff" data-progressbar-trailcolor="#fff" data-progressbar-to='{"color": "#F09C88", "width": 4}' data-progressbar-from='{"color": "#3498db", "width": 4}' data-progressbar-value="0.93">
                            </div>
                            <h4 class="font-accident-two-bold uppercase">user centred design</h4>
                            <p class="font-regular-normal">
                                By focusing on users and engaging them early, throughout and after a project I reduce the level of risk to the business and increase the level of rewards to users.
                            </p>
                        </div>
                        <div class="dividewhite1"></div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12 nopadding">
                        <div class="progressbar text-center">
                            <div id="circle3" data-progressbar="circle" data-progressbar-color="#fff" data-progressbar-trailcolor="#fff" data-progressbar-to='{"color": "#F09C88", "width": 4}' data-progressbar-from='{"color": "#3498db", "width": 4}' data-progressbar-value="0.93">
                            </div>
                            <h4 class="font-accident-two-bold uppercase">facilitating workshops</h4>
                            <p class="font-regular-normal">
                                I use workshops for getting ideas, information and knowledge from groups. By taking on that information I can gain more insight into the problem and potential solutions.
                            </p>
                        </div>
                        <div class="dividewhite1"></div>
                    </div>

                    <div class="col-xs-12 nopadding">
                        <div class="progressbar text-center">
                            <a href="cv.html" class="btn btn-wh-trans btn">Learn more about my skills</a>
                        </div>
                        <div class="dividewhite1"></div>
                    </div>




                </div>
            </div>
        </div>

    </div>

</section>
<!-- Portfolio items begin -->
<section class="works" data-section="portfolio">
    <div class="row row-no-padding">
        <div class="grid text-center">
            <div id="posts" class="row popup-container">
                {% for item in site.items %}
                <div class="grid-item grid-sizer web marketing col-lg-3 col-md-4 col-sm-6 {% for tag in item.tags %} {{ tag }} {% endfor %}">
                    <div class="item-wrap nopadding">
                        <figure class="effect-goliath ui-menu-color02" data-animation-origin="left" data-animation-duration="400" data-animation-delay="600" data-animation-distance="100px">
                            <div class="popup-call">
                                <a href="{{ item.url }}" class="gallery-item"><i class="flaticon-arrows-4"></i></a>
                            </div>
                            <img src="{{ item.imageurl }}" class="img-responsive'" alt="{{ item.imagealt }}" />
                            <figcaption>
                                <div class="fig-description">
                                    <h3>{{ item.portfoliotitle }}</h3>
                                    <p>{% for tag in item.tags %} #{{ tag }} {% endfor %}</p>
                                </div>
                                <a href="{{ item.url }}"></a>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- Portfolio items end -->